<!DOCTYPE html>
<html>
<head>
	<title>Hello AngularJS: Step 4!</title>
	<link rel="stylesheet" href="app.css">
</head>
<body ng-app="app">
	<div class="container">
		<h1>Hello AngularJS</h1>

		<section>
			<h1>First List</h1>
			<div ng-controller="PersonCtrl">
				<div ng-repeat="person in persons"
						ng-include="'person.html'">
				</div>
			</div>
			<script type="text/ng-template" id="person.html">
				{{ person.name.last }}, {{ person.name.first }} {{ person.name.middle }}
			</script>
		</section>

		<section>
			<h1>Alternative List</h1>
			<div ng-controller="PersonCtrl">
				<div ng-repeat="person in persons"
						ng-include="'person2.html'">
				</div>
			</div>
		</section>

		<section>
			<h1>Survey</h1>
			<div ng-controller="SurveyCtrl">
				<div ng-repeat="question in questions"
						ng-include="'survey'">
				</div>
			</div>
			<script type="text/ng-template" id="survey">
				<div class="question">
					<span>{{ question.number }}.</span>
					<span>{{ question.question }}</span> -
					<span>{{ question.type }}</span>
					<div class="answer" ng-include="question.type + '.html'"></div>
				</div>
			</script>
		</section>
	</div>

	<script src="lib/angular/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>
