<!DOCTYPE html>
<html>
<head>
	<title>Hello AngularJS</title>
	<link rel="stylesheet" href="app.css">
</head>
<body ng-app="app">
	<h1>Hello AngularJS</h1>

	<p>
		Each of these controllers are indepedent of the other and have their own
		individual scopes, so modifying the model in one won't change the model in
		the other.
	</p>

	<div ng-controller="FirstCtrl" class="scope">
		<input ng-model="model.firstName">
		<div>{{ model.firstName }}</div>
		<button ng-click="alert(model.firstName)">
			Click Me!
		</button>
	</div>

	<div ng-controller="FirstCtrl" class="scope">
		<input ng-model="model.firstName">
		<div>{{ model.firstName }}</div>
		<button ng-click="alert(model.firstName)">
			Click Me!
		</button>
		<h2>I'm a nested controller!</h2>
		<div ng-controller="FirstCtrl" class="scope">
			<input ng-model="model.firstName">
			<div>{{ model.firstName }}</div>
			<button ng-click="alert(model.firstName)">
				Click Me!
			</button>
		</div>
	</div>

	<script src="lib/angular/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>
